
.button{
    -fx-background-color: red;
    -fx-text-fill: white; 
}
.button:hover {
    -fx-background-color: #D1D1D1; 
}

.button.selected {
    -fx-background-color: black; 
}

.anchor-pane{
    -fx-background-color:gray;
}


/* Eliminar el fondo de las filas horizontales */
.table-row-cell {
    -fx-background-color: #F0F0F0;
}

/* Establecer las líneas horizontales entre los datos */
.table-view .table-row-cell {
    -fx-border-width: 0 2 2 0; /* Solo bordes a la derecha y abajo */
    -fx-border-color: #f0f0f0; /* Color del borde */
}

/* Establecer las líneas verticales entre los datos */
.table-view .table-row-cell:odd {
    -fx-border-width: 0 2 2 0; /* Solo bordes a la derecha y abajo */
    -fx-border-color: transparent; /* Color del borde */
}

.table-view .table-row-cell:last-child {
    -fx-border-width: 0 0 2 0; /* Solo borde inferior */
    -fx-border-color: #f0f0f0; /* Color del borde */
}

/* Establecer las líneas verticales entre columnas */
.table-view .column-header, .table-view .filler {
    -fx-border-width: 0 2 0 0; /* Solo bordes a la izquierda */
    -fx-border-color: #f0f0f0; /* Color del borde */
}
/*prueba*/
.table-view .table-cell{
    -fx-border-width: 0 2 2 0; /* Solo bordes a la derecha y abajo */
    -fx-border-color: #f0f0f0;
}

/* Estilo para el ComboBox */
.combo-box {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #E7473C;
    -fx-font-weight: bold;
}

/* Estilo para los elementos desplegados del ComboBox */
.combo-box .list-cell {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #E7473C;
    -fx-font-weight: bold;
}
/***************************/
/***************************/
.combo-box .text {
    -fx-fill: #e7473c; /* Cambia el color del texto del prompt */
    -fx-font-weight: bold;
}
.combo-box:disabled {
    -fx-opacity: 1.0; /* Asegura que el ComboBox no se vea opaco */
}

.date-picker:disabled .text-field {
    -fx-opacity: 1.0; /* Mantener el prompt text no opaco, no funciona del todo */
    -fx-text-fill: #E7473C; /* Color del texto del prompt */
}

/***************************/
/***************************/

/*
estos colores son:#E7473C
/* Eliminar las líneas de separación en las esquinas */
.table-view .column-header-background {
    -fx-background-color: transparent;
}

/* Establecer el color de fondo de la tabla */
.table-view .column-header {
    -fx-background-color: #E7473C; 
    -fx-text-fill: #f0f0f0; 
    -fx-font-weight: bold;
}

.table-view .column-header .label {
    -fx-text-fill: #f0f0f0; 
}

.table-view .cell {
    -fx-font-size: 16px; 
    -fx-text-fill: black;
}

.label {
    -fx-text-fill:#F0F0F0;
}

#signOut {
    -fx-background-color:#E7473C;
    -fx-text-fill:#F0F0F0;
    -fx-font-weight: bolder;
    -fx-font-size: 16px;
}

.title {
    -FX-font-size: 24px;
    -fx-text-fill: #E7473C;
    -fx-font-weight: bolder;
}

.specialTitle {
    -fx-text-fill: #f0f0f0;
    -fx-font-weight: bolder;
    -FX-font-size: 24px;
}

.specialNombreApellido {
    -fx-text-fill: #f0f0f0;
    -fx-font-weight: bolder;
    -FX-font-size: 18px;
}

.specialBox{
    -fx-background-color: #E7473C;
    -fx-border-width: 0px 0px 0px 2px;
    -fx-border-color:black;
    -fx-font-weight:bold;
    -fx-font-size:16px;
   
}

.button {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: #E7473C;
}

.invertedButton {
    -fx-background-color: #18b8c3;
    -fx-text-fill: #F0F0F0;
    -fx-font-weight: bolder;
}

.specialButton {
    -fx-font-weight: bolder;
    -fx-font-style: italic;
    -fx-font-size: 12px;
}

.specialButton:disabled {
    -fx-background-color: rgb(32, 223, 236);
    -fx-text-fill: rgb(240, 240, 240);
    -fx-font-weight: bolder;
    -fx-font-style: italic;
}

.uploadButton {
    -fx-border-width: 1px;
    -fx-font-weight: bolder;
}

#screen {
    -fx-background-color: #E7473C;
    -fx-border-width: 0px 2px 0px 0px;
    -fx-border-color:black;
    
}

#top {
    -fx-border-width: 3px;
    -fx-border-color: black;
}

.newsLabel { 
    -fx-text-fill:#F0F0F0;
}
.newsTitle{ 
    -fx-font-weight:bolder;
    -fx-text-fill:#F0F0F0;
}

.subTitle{
    -fx-font-weight:bolder;
    -fx-text-fill:#E7473C;
}

.textfild{
    -fx-highlight-fill:#E7473C;
    -fx-color-focus:#18b8c3;
    -fx-background-color:#F0F0F0;
}

.menuButton {
    -fx-background-color:#F0F0F0;
    -fx-font-weight: bold;
    -fx-font-size:16px;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: black;
}

.menuButton:disabled {
    -fx-background-color:#E7473C;
    -fx-text-fill: #F0F0F0;
}

.root {
    -fx-background-color: #F0F0F0;
    -fx-text-fill: #F0F0F0;
    
}

#vertical .chart-vertical-grid-lines{
    -fx-stroke: #18b8c3;
    -fx-stroke-widht: 1px;
    -fx-stroke-dash-array: 5px;
    -fx-vertical-grid-lines: true;
}

#bigone .chart-horizontal-grid-lines {
    -fx-stroke: #18b8c3;
    -fx-stroke-widht: 1px;
    -fx-stroke-dash-array: 5px;
    
}

.axis-label {
    -fx-fill: #f0f0f0;
}

.chart-pie-label {
    -fx-background-color: #F0F0F0;
}

.chart {
    -fx-background-color: #E7473C;
}

.ayuda {
    -fx-background-color: #E7473C;
}
.ayuda-button {

    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: black;
}
